.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.product-list-container {
    flex-grow: 1;
}